@import url("/assets/css/cards.css");
@font-face {
    font-family: 'IBM';
    font-style: normal;
    font-weight: normal;
    src: url('/assets/fonts/Web437_IBM_VGA_8x16.woff') format('woff');
}
:root {
    --background: rgba(0, 0, 0, 0.705);
    --accent: #2151ab;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    background: url(/assets/backgrounds/bg3.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    text-shadow: 2px 2px #303030;
    font-family: 'IBM';
    background-color: black;
}
div.container {
    width: 80%;
    margin-top: 40px;
    padding: 5px 5px;
    margin: 14px auto;
}

/* NavBar */
nav {
    height: 50px;
    font-size: 18px;
}
nav div.wordart {
    float: left;
    font-size: 1.4rem;
    font-weight: bold;
    background: linear-gradient(90deg, var(--accent), #5b80c5, #b3c6eb, var(--accent));
    background-size: 200% auto;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: titletext 3s linear infinite;
    vertical-align: middle;
    margin-top: 5px;
    text-shadow: none;
}
nav div.wordart h1 {
    margin-top: -10px;
}
nav div.links {
    float: right;
    margin-top: 13px;
}
nav a {
    color: white;
    margin-right: 5px;
    text-decoration: none;
    transition: 0.2s ease-in;
}
nav a:hover {
    color: #9bb8f0;
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: var(--accent);
    text-decoration-thickness: 2px;
}

/* Main */
main div.box {
    background-color: rgba(0, 0, 0, 0.705);
    font-size: 18px;
    box-shadow: 10px 10px 0px 0px var(--accent);
    border-radius: 4px;
    padding: 2px 10px;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(5px);
    overflow-wrap: break-word;
}
main h1 {
    font-size: 3rem;
    margin-bottom: 0;
    background: linear-gradient(90deg, var(--accent), #5b80c5, #b3c6eb, var(--accent));
    background-size: 200% auto;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: titletext 3s linear infinite;
    text-shadow: none;
}
main a {
    color: #9bb8f0;
    text-decoration: none;
    transition: 0.3s;
    text-shadow: 2px 2px #081327;
}
main a:hover {
    color: var(--accent);
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: var(--accent);
    text-decoration-thickness: 2px;
}
main a.link {
    color: #9bb8f0;
    text-decoration: none;
    transition: 0.3s;
}
main a.link::after {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="hsl(219, 68%, 40%)"><path d="M144-144v-672h336v72H216v528h528v-264h72v336H144Zm243-192-51-51 357-357H576v-72h240v240h-72v-117L387-336Z"/></svg>');
    display: inline;
    margin-left: 2px;
    vertical-align: middle;
}
main a.link:hover {
    color: var(--accent);
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: var(--accent);
    text-decoration-thickness: 2px;
}
h2 {
    margin-bottom: 0;
}
main ul.socials {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0;
    gap: 5px;
    margin-top: 0;
    overflow-wrap: break-word;
    flex-wrap: wrap;
}
main ul.socials li a {
    color: var(--accent);
    transition: 0.2s ease-in-out;
}
main ul.socials li a:hover {
    color: #5b80c5;
}
hr {
    border-color: #2151ab80;
}

/* LastFM */
#lastfmcontainer {
    display: inline-block;
    padding: 7px;
    border: 2px solid var(--accent);
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 2px 3px var(--accent);
}
.lastfmblock {
    width: 90px; 
    float: left;
    margin-right: -9px;
}
.lastfmstatus {
    width: 190px; 
    float: left; 
    padding-left: 0px;
}
#trackart img {
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.61);
    transition: 0.3s;
    width: 80%;
    border: 3px groove var(--accent-color);
    vertical-align: middle;
}
#trackart img:hover {
    transform: translate(2px, 2px);
    cursor: pointer;
}
#trackart img:active {
    scale: .8;
}
#tracktitle {
    margin-bottom:0px;
}
#trackartist {
    font-size: 16px; 
    margin-bottom: 0px; 
    padding-top:5px;
}
#playstatus {
    text-align: left;
    font-size:0.8em;
}
.lastfmlink a {
    color: var(--text);
    text-decoration: none;
    font-size:0.95em; 
    line-height:1em;
    transition: 0.2s ease-in-out;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 4px;
    margin-top: 6px;
}
.lastfmlink a:hover {
    color: var(--accent-color);
}

/* buttons */
div.eightybuttons img {
    box-shadow: 3px 3px transparent;
    transition: 0.2s;
}
div.eightybuttons img:hover {
    transform: translate(2px, 2px);
    box-shadow: 3px 3px transparent;
}

/* abuseipdb */
.abuseipdb {
    max-width: 216px; 
    padding: 2px;
    margin-bottom: 8px;
    background: #081327;
    border: 2px solid var(--accent);
    border-radius: 10px;
    box-shadow: 2px 3px var(--accent);
    transition: 0.3s;
}
.abuseipdb:hover {
    transform: translate(1px, 2px);
    box-shadow: 1px 1px var(--accent);
}

/* Footer */
footer {
    margin-top: 20px;
    margin-left: 13px;
}

/* animations */
@keyframes titletext {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* mobile stuff */
@media screen and (max-width: 900px) {
    body {
        background-size: cover;
        overflow-x: hidden;
    }
    div.container {
        margin: 2px auto;
        width: 90%;
    }
    nav {
        height: auto;
        text-align: center;
        padding-top: 5px;
    }
    nav div.wordart,
    nav div.links {
        float: none;
        display: block;
        margin: 5px auto;
    }
    nav a {
        font-size: 1.1rem;
    }
    main div.box {
        overflow-y: auto;
        box-shadow: 5px 5px 0px 0px var(--accent);
    }
    main h1 {
        font-size: 2rem;
        text-align: center;
    }
    main ul.socials {
        flex-wrap: wrap;
        justify-content: center;
    }
    div.eightybuttons img {
        width: 65px;
    }
}
